<h1>NICE!!! You have tried to kill a dragon. well, to let you know, the dragon well be taken to the sky-center and a new family well be given your amazing beast. And don't worry, you'll never have to she him/her again. Since you will be jailed for animal abuse hahahaha...(I HOPE YOU ROT IN A DARK, COLD, CELL!!!)</h1>

<a href="/dragons">Back to Home Page</a>